body {
  background-color: aqua;
}

.closebtn {
  transition: transform 250ms ease-in-out;
  transform-origin: 50% 50%;
}

.tablebtn {
  border-radius: 10px;
  color: #a8a8a8;
  border: 0, 5;
  border-color: #a8a8a8;
  cursor: pointer;
  margin-left: 4px;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-3px);
  }
}

.butons {
  display: inline;
  margin-bottom: px;
}

.blueButtonfil {
  width: 10%;
  height: 40px;
  background: #a8a8a8;
  border-radius: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 51%;

  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4 ease-in-out;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }

  &:active {
    background: darken(#a8a8a8, 5%);
  }
}

.blueButtonUniv {
  width: 10%;
  height: 40px;
  background: #a8a8a8;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4 ease-in-out;
  margin-right: 5px;
  position:sticky;

  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateY(-5px);
  }

  &:active {
    background: darken(#a8a8a8, 5%);
  }
}

.searchB {
  margin-bottom: 6px;
  border: 1px solid #201f1f;
  border-radius: 10px;
  padding: 0 15px;
  height: 40px;
  margin-right: 5px;
  margin-left: 10px;
}

.listmenu {
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
    transform: translateX(5px);
  }
}

$gl-ms: "screen and (max-width: 400px)";
$gl-xs: "screen and (max-width: 568px)";
$gl-sm: "screen and (max-width: 768px)";
$gl-md: "screen and (max-width: 1024px)";
$gl-lg: "screen and (max-width: 1280px)";

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin-left: 15px;
  margin-right: 10%;

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
  }

  thead tr {
    height: 60px;
    background: #a8a8a8;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
    &:last-child {
      border: 0;
    }
  }

  td,
  th {
    text-align: left;
    &.l {
      text-align: right;
    }
    &.c {
      text-align: center;
    }
    &.r {
      text-align: center;
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;

      td {
        padding-left: 30%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          position: absolute;
          font-weight: 700;
          width: 90%;
          left: 10px;
          top: 0;
        }
      }
    }
  }
}

.modinput {
  border-radius: 30px;
  width: 10%;
  height: 20%px;
}

blockquote {
  color: white;
  text-align: center;
}

.searchinput {
  margin-left: 25px;
  cursor: pointer;
}

.pageName {
  margin-left: 3.5%;
  cursor: pointer;
}

.iconutil {
  width: 25px;
  height: 25px;
  margin-right: 4px;
  margin-top: 3%;
}




.searchplace{
display:inline-block
}